{% extends request.htmx|yesno:"base_ajax.html,base.html" %}
{% block content %}
{% include "_includes/page-header.html" with title="Contact Us" page_id="contact" pageLoc="contact" headerImage="/static/img/headers/contact-page.jpg" headerTitle="Let's Grow" headerHighlight="Together" headerSubtitle="Reach out to our headquarters in Lagos or connect with our regional teams. We are here to support your farm's growth, answer inquiries, and build lasting partnerships." %}
{% include "partials/contact/index.html" %}
{% include "partials/contact-us.html" %}
{% endblock %}