@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));
/* Components */
@import "./style.css";

@layer base {
  :root {
    /* Safe fallback estimate based on a standard desktop header */
    --header-height: 80px; 
  };
   html {
    scroll-behavior: smooth;
  }
}

@property --num {
  syntax: '<integer>';
  initial-value: 0;
  inherits: true;
}
/* Animations */
/*@import "./animations.css";*/

/* Gallery */
/*@import "./gallery.css";*/

