 @property --num1 { syntax: '<integer>'; initial-value: 0; inherits: false; }
  @property --num2 { syntax: '<integer>'; initial-value: 0; inherits: false; }
  @property --num3 { syntax: '<integer>'; initial-value: 0; inherits: false; }
 @property --num4 { syntax: '<integer>'; initial-value: 0; inherits: false; }

    /* 2. Define unique target milestones */
    @keyframes countTo30  { from { --num1: 0; } to { --num1: 30; } }
    @keyframes countTo6  { from { --num2: 0; } to { --num2: 6; } }
    @keyframes countTo400 { from { --num3: 0; } to { --num3: 400; } }
     @keyframes countTo100 { from { --num4: 0; } to { --num4: 100; } }