@import url("https://googleapis.com/css?family=Montserrat+Alternates&display=swap");
@import "tailwindcss";
@plugin "daisyui";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));
/* Components */
@import "./style.css";
@import "./counts.css";


@layer base {
  /* Light Mode Scrollbar (thumb track) */
  :root {
     --header-height: 80px; 
  };
}

/* Alpine cloaking rule */
[x-cloak] {
  display: none !important;
}

@theme {
  --font-montserrat-alt: "Montserrat Alternates", sans-serif;
}

@utility scrollbar-custom {
  /* Standard styles */
  scrollbar-width: thin;
  scrollbar-color: #009966 #f8fafc;

  /* Webkit Sizing & Radius */
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f8fafc;
    border-radius: 9999px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #94a3b8;
    border-radius: 9999px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #64748b;
  }
}

/* Dark Mode Overrides */
.dark .scrollbar-custom {
  scrollbar-color: #009966 #0f172a;

  &::-webkit-scrollbar-track {
    background-color: #0f172a;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #475569;
  }
}

@layer base {
  /* Scrollbar Theme Variables */
  :root {
    --sb-track: #f8fafc;
    --sb-thumb: #94a3b8;
    --sb-thumb-hover: #64748b;
  }

  .dark {
    --sb-track: #0f172a;
    --sb-thumb: #475569;
    --sb-thumb-hover: #64748b;
  }

  /* Standard Firefox & modern syntax */
  * {
    scrollbar-color: var(--sb-thumb) var(--sb-track);
    scrollbar-width: thin;
  }

  /* Webkit custom dimensions & border-radius */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--sb-track);
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--sb-thumb);
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--sb-thumb-hover);
  }
}