---
layout: base.html
title: About Us
page-id: about
pageLoc: about
headerTitle: <h2 class="text-4xl md:text-5xl lg:text-6xl font-extrabold text-slate-900 dark:text-white tracking-tight mb-6">Leading the Future of <span class="text-transparent bg-clip-text bg-gradient-to-r from-emerald-500 to-teal-600">Agribusiness</span> in Nigeria</h2>
headerSubtitle:  Agric International Technology & Trade (Nigeria) Ltd, widely known as <strong>AGRITED</strong>, is one of Nigeria's primary agricultural companies, specializing in poultry breeding, day-old chick production, animal nutrition, and turnkey agribusiness solutions.
           
---
{% include "page-header.html" %}
{% include "src/partials/about/index.html" %}
       
        <!--div hx-get="src/partials/trusted.html"
             hx-trigger="load"></div>

       <div hx-get="src/partials/teams.html"
             hx-trigger="load"></div>

        <div hx-get="src/partials/featured-farms.html"
             hx-trigger="load"></div>
        <div hx-get="src/partials/contact.html"
             hx-trigger="load"></div-->


    