---
layout: base.html
title: About Us
page-id: about
pageLoc: about
headerImage: /assets/img/headers/about-page.jpg
headerTitle: Pioneering Nigeria's
headerHighlight: Agricultural Future
headerSubtitle: From our headquarters in Lagos to our world-class facilities in Oyo and Ogun states, we are setting the gold standard for breeding and biosecurity in West Africa.
---

{% include "page-header.html" %}
{% include "src/partials/about/index.html" %}
       
        <!--div hx-get="src/partials/trusted.html"
             hx-trigger="load"></div>

       <div hx-get="src/partials/teams.html"
             hx-trigger="load"></div>

        <div hx-get="src/partials/featured-farms.html"
             hx-trigger="load"></div>
        <div hx-get="src/partials/contact.html"
             hx-trigger="load"></div-->


    