---
layout: base.html
title: About Us
pageLoc: about
headerTitleFrag1: Growing for the 
headerTitleFrag2: Future
headerSubtitle: Pioneering advanced commercial poultry, aquaculture, and modern farm management across Nigeria.
---
{% include "page-header.html" %}
{% include "src/partials/about/index.html" %}
       
        <!--div hx-get="src/partials/trusted.html"
             hx-trigger="load"></div>

       <div hx-get="src/partials/teams.html"
             hx-trigger="load"></div>

        <div hx-get="src/partials/featured-farms.html"
             hx-trigger="load"></div>
        <div hx-get="src/partials/contact.html"
             hx-trigger="load"></div-->


    