---
layout: base.html
title: Contact Us
page-id: contact
pageLoc: contact
headerTitle: <h1 class="text-4xl md:text-5xl lg:text-6xl font-extrabold text-slate-900 dark:text-white tracking-tight mb-6"> Leading the Future of <span class="text-transparent bg-clip-text bg-gradient-to-r from-emerald-500 to-teal-600">Agribusiness</span> in Nigeria</h1>
headerSubtitle: From our Head Office in Lagos to our expansive plains across Oyo and Ogun states, we are positioned to serve your agricultural needs.
---
{% include "page-header.html" %}
{% include "src/partials/contact/index.html" %}
{% include "src/partials/contact-us.html" %}
        <!--div hx-get="src/partials/contact/index.html"
             hx-trigger="load"></div>

        <div hx-get="src/partials/contact.html"
             hx-trigger="load"></div-->
    