---
layout: base.html
title: Welcome
---

{% include "src/partials/hero.html" %}

<!--div hx-get="partials/trusted.html"
             hx-trigger="load"></div-->
{% include "src/partials/about-preview.html" %}

{% include "src/partials/solutions.html" %}

<!--div hx-get="partials/featured-products.html"
             hx-trigger="load"></div>

        <div hx-get="partials/why-us.html"
             hx-trigger="load"></div-->

{% include "src/partials/featured-farms.html" %}

<!--div hx-get="partials/projects-preview.html"
             hx-trigger="load"></div-->

<!--div hx-get="partials/statistics.html"
             hx-trigger="load"></div-->

<!--div hx-get="partials/testimonials.html"
             hx-trigger="load"></div>

        <div hx-get="partials/latest-news.html"
             hx-trigger="load"></div>

        <div hx-get="partials/cta.html"
             hx-trigger="load"></div-->


{% include "src/partials/booking.html" %}

{% include "src/partials/contact-us.html" %}