{% extends "base.html" %}

{% block content %}

{% include "partials/hero.html" %}
{% include "partials/about-preview.html" %}
{% include "partials/booking.html" %}

{% include "partials/contact-us.html" %}

{% include "partials/subscribe.html" %}
{% endblock %}

<!--div hx-get="partials/featured-products.html"
             hx-trigger="load"></div>

        <div hx-get="partials/why-us.html"
             hx-trigger="load"></div-->



<!--div hx-get="partials/projects-preview.html"
             hx-trigger="load"></div-->

<!--div hx-get="partials/statistics.html"
             hx-trigger="load"></div-->

<!--div hx-get="partials/testimonials.html"
             hx-trigger="load"></div>

        <div hx-get="partials/latest-news.html"
             hx-trigger="load"></div>

        <div hx-get="partials/cta.html"
             hx-trigger="load"></div-->


{% include "src/partials/booking.html" %}

{% include "src/partials/contact-us.html" %}

{% include "src/partials/subscribe.html" %}